{% extends 'layouts/base.html.twig' %}
{% block title site.name %}

{% block body %}

<div class="row">
    <div class="col-md-3">
        <h2>{{ site.name }}</h2>
        <p><strong>Url : </strong><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></p>
        {% if apiComponent.wordpress_version < apiComponent.recommended_wordpress_version %}
            <strong>Version WP : </strong>
            <p class="text-red">{{ apiComponent.wordpress_version }}, <a class="text-success"href="{{ apiComponent.download }}">{{ apiComponent.recommended_wordpress_version }}</a></p>
        {% else %}
            <p class="text-success"><strong>Version WP : </strong>{{ apiComponent.wordpress_version }}</p>
        {% endif %}
        {% if apiComponent.php_version < apiComponent.recommended_php_version %}
            <p class="text-red"><strong>Version PHP : </strong>
            ({{ apiComponent.php_version }}, <a class="text-success"href="http://localhost/wp/vversus.g31c.com/wp-admin/">{{ apiComponent.recommended_php_version }}</a>)</p>
        {% else %}
            <p class="text-success"><strong>Version PHP : </strong>{{ apiComponent.php_version }}</p>
        {% endif %}
        {% if apiComponent.mySql_version < apiComponent.recommended_mysql_version %}
            <p class="text-red"><strong>Version MySQL : </strong>
            ({{ apiComponent.mySql_version }}, <a class="text-success"href="http://localhost/wp/vversus.g31c.com/wp-admin/">{{ apiComponent.recommended_mysql_version }}</a>)</p>
        {% else %}
            <p class="text-success"><strong>Version MySQL : </strong>{{ apiComponent.mySql_version }}</p>
        {% endif %}
        
        
        <p><strong>Site ajouté par : </strong>{{ site.user.firstName }} {{ site.user.lastName }}</p>
        <p><strong>Site ajouté le : </strong>{{ site.createdAt | date("d/m/Y à H:i:s")}}</p>
        <p><strong>Site modifié le : </strong>{{ site.updatedAt | date("d/m/Y à H:i:s")}}</p>
        
    </div>

    <div class="col-md-9">
        <h4>Nombre de plugins : {{ plugins|length}}</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered mydatatable" style="width: 100%">
                <thead>
                    <tr>
                    <th>Nom</th>
                    <th>Version</th>
                    <th>Actif</th>
                    </tr>
                </thead>
                <tbody>
                {% for plugin in plugins %}
                    <tr>
                        <th>{{ plugin.name }}</th>
                        <td>{{ plugin.version }}</td>
                        <td class="text-center">{{ (plugin.active) ? '<span class="text-success">&check;</span>' : '<span class="text-danger">&cross;</span>' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>   
{% endblock %}