{% extends 'layouts/base.html.twig' %}
{% block title site.name %}

{% block body %}

<div class="row p-5">
    <div class="col-md-3">
        <h2>{{ site.name }}</h2>
        <p><strong>Url : </strong><a class="text-break" href="{{ site.url }}" target="_blank">{{ site.url }}</a></p>
        <p><strong>Nombre d'utilisateurs : </strong>{{ apiComponent.users }}</p>

        {% if apiComponent.wordpress_version < apiComponent.recommended_wordpress_version %}
            <strong>Version WP : </strong>
            <p class="text-red"><strong>{{ apiComponent.wordpress_version }}</strong>
            <em class="text-dark"> => </em>
            <a class="text-success" href="{{ site.url }}/wp-admin" target="_blank">{{ apiComponent.recommended_wordpress_version }}</a></p>
        {% else %}
            <strong>Version WP : </strong>
            <p class="text-success">{{ apiComponent.wordpress_version }}</p>
        {% endif %}

        {% if apiComponent.php_version < apiComponent.recommended_php_version %}
            <strong>Version PHP : </strong>
            <p class="text-red">
            <strong>{{ apiComponent.php_version }}</strong>
            <em class="text-dark"> => </em>
            <a class="text-success" href="{{ site.url }}/wp-admin" target="_blank">{{ apiComponent.recommended_php_version }}</a></p>
        {% else %}
            <strong>Version PHP : </strong>
            <p class="text-success">{{ apiComponent.php_version }}</p>
        {% endif %}

        {% if apiComponent.mySql_version < apiComponent.recommended_mysql_version %}
            <strong>Version MySQL : </strong>
            <p class="text-red">
            <strong>{{ apiComponent.mySql_version }}</strong>
            <em class="text-dark"> =></em>
            <a class="text-success"href="{{ site.url }}/wp-admin" target="_blank">{{ apiComponent.recommended_mysql_version }}</a>)</p>
        {% else %}
            <strong>Version MySQL : </strong>
            <p class="text-success">{{ apiComponent.mySql_version }}</p>
        {% endif %}
        
        
        <p><strong>Site ajouté par : </strong>{{ site.user.firstName }} {{ site.user.lastName }}</p>
        <p><strong>Site ajouté le : </strong>{{ site.createdAt | date("d/m/Y à H:i:s")}}</p>
        <p><strong>Site modifié le : </strong>{{ site.updatedAt | date("d/m/Y à H:i:s")}}</p>
        
    </div>
    <div class="col-md-9">
        <h4>Nombre de plugins : {{ plugins|length}}</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered mydatatable" style="width: 100%">
                <thead>
                    <tr>
                    <th>Nom</th>
                    <th>Version</th>
                    <th>Actif</th>
                    </tr>
                </thead>
                <tbody>
                {% for plugin in plugins %}
                    <tr>
                        <th>{{ plugin.name }}</th>
                        <td>{{ plugin.version }}</td>
                        <td class="text-center">{{ (plugin.active) ? '<span class="text-success">&check;</span>' : '<span class="text-danger">&cross;</span>' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}